<h1>Infos about: <%= @restaurant.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
<br>
<br>
<br>

<h2>Reviews</h2>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> ----> Rating: <%= review.rating %> <%= link_to "🗑", review_path(review), method: :delete %></li>
  <% end %>
</ul>
